extends ../partials/head
block content
  .brand-wrapper
  .all-wrapper
    .all-inner-wrapper
      span.logo-name usersmagic
      span.close-info-text
        span= __('The account registered with the email')
        span.close-email= ` ${email} `
        span= __('is closed. If you want to retrieve your account please contact our support at ')
        span.close-email info@usersmagic.com
        span .
    .bottom-wrapper
      span.copyright-text Copyright 2021 - #{__('Loy Yazılım')}
