extends ./../partials/head
block content
  if current_language && current_language == 'tr'
    .all-wrapper-agreement
      span.title Kullanıcı Sözleşmesi
      span 6 Temmuz 2020 tarihinden itibaren geçerlidir.
      span.subtitle 1. Giriş
      span.subtitle 1.1 Sözleşme
      span ‘’Hemen Başla’’ ifadesine tıklayarak, kaydolarak, erişimde bulunarak veya hizmetlerimizi kullanarak UsersMagic ile hukuki olarak bağlayıcı bir sözleşme akdetmiş olursunuz. Eğer bu sözleşmeyi kabul etmiyorsanız ‘’Hemen Başla’’seçeneğine tıklamayın ve hizmetlerimizden hiçbirine erişmeyin veya kullanmayın. Eğer bu sözleşmeyi sonlandırmak istiyorsanız, bunu dilediğiniz zaman hesabınızı kapatarak ve hizmetlerimize erişmeyi ve onları kullanmayı bırakarak yapabilirsiniz.
      span.subtitle Hizmetler
      span İşbu sözleşme UsersMagic’in site dışında yapılan veri toplama aktiviteleri de dahil olmak üzere UsersMagic in tüm faaliyetleri için geçerlidir. UsersMagic kullanıcılarına internet ortamında veya mobil telefonlarda üye işyerlerinin uygulamalarını değerlendirme, ürünlerini geliştirme ve karşılığında para kazanma imkanı sunar.
      span.subtitle UsersMagic Kullanıcı Sistemi
      span Her usersmagic.com kullanıcısının usersmagic.com sistemine bağlanabilmesi için kayıtlı e- posta adresi ile şifresini girmesi gereklidir. Bu işlem usersmagic.com sitesine giriş yapmak şeklinde tanımlanmıştır.
      span ‘’Şifre’’ sadece ilgili kullanıcının bilgisi dahilindedir. Kullanıcı şifresi unutulduğu takdirde usersmagic.com, talep üzerine kullanıcının usersmagic.com sisteminde kayıtlı e-posta adresine yeni şifre oluşturabilmek için bağlantı gönderecektir. Şifrenin belirlenmesi ve korunması tamamıyla kullanıcın kendi sorumluluğundadır ve usersmagic.com şifre kullanımından doğacak problemlerden veya oluşabilecek zararlardan kesinlikle sorumlu değildir.
      span Usersmagic.com kullanıcılarını usersmagic.com sistemi dahilindeki yeni hizmet veya projelerden e-posta yolu ile haberdar edebilecektir.
      span Usersmagic.com kullanıcının sağladığı veriyi üye işyeri ile kullanıcının bilgisi dahilinde anonim şekilde paylaşacaktır.Bu sebepten dolayı üye işyeri ile kullanıcı arasında çıkabilecek her türlü problemden veya oluşabilecek zarardan kesinlikle sorumlu değildir.
      span Usersmagic.com sisteminin kullanılması ile oluşacak data ve verilerin tüm fikri haklarına sahiptir. Usersmagic.com, söz konusu bilgilerle kullanıcı üyelik bilgilerini açıklamadan demografik bilgiler içeren raporlar düzenleyebilir veya bu tarz bilgileri veya raporları kendisi kullanabilir ve bu rapor ve/veya istatistikleri iş ortakları ile üçüncü kişilerle bedelli veya bedelsiz paylaşabilir. Bu işlemler Usersmagic.com Gizlilik Politikası hükümlerine aykırılık etmez.
      span.subtitle 2. Yükümlülükler
      span Hizmetleri kullanmak için, şunları kabul etmektesiniz:
      span 1) Hizmetimizden faydalanmak için bir üye hesabı gereklidir.
      span 2) Kayıt esnasında, her üye ismini, soy ismini, e-posta adresini, telefon numarasını verir ve bir şifre seçer. E-posta adresi ve parola, üyenin başarılı bir şekilde kayıt olduktan sonra gelecekte oturum açabileceği erişim verileridir. Her üye yalnızca bir üye hesabı tutabilir.
      span 3) Üye, üye hesabını istediği zaman devre dışı bırakabilir.
      span 4) Hizmetlerimizi kullanmak için daha önceden kısıtlanmış olmamalısınız,
      span 5) Hatalı bilgilerle hesap oluşturmak koşullarımızın ihlal edildiği anlamına gelir,
      span 6) Yasalara göre 16 yaşındaki kullanıcılarımız asgari yaşa sahiptir, ebeveynlerinden onaysız hizmetlerimizden yararlanamamaktadırlar.
      span 7) Kanunlara göre iletilmesi yasak olan bilgileri iletmemeyi ve zincir posta, yazılım virüsü vb. gibi gönderilme yetkisi olmayan veriler kullanıcı tarafından paylaşılmamaktadır.
      span 8) Usersmagic.com hizmetleri kullanılarak elde edilen herhangi bir kayıt veya elde edilmiş malzemelerin tamamen kullanıcının rızası dahilindedir.
      span.subtitle 3. Usersmagic.com’a Tanınan Yetkiler
      span Usersmagic.com herhangi bir zamanda sistemin çalışmasını geçici bir süre askıya alabilir veya tamamen durdurabilir. Sistemin veya Online Ödeme Yöntemi kullanımının geçici bir süre askıya alınması veya tamamen durdurulmasından dolayı usersmagic.com’un kullanıcılarına veya üçüncü kişilere karşı hiçbir sorumluluğu olmayacaktır.Kullanıcı adı veya e-posta ile şifre usersmagic.com tarafından sunulan başvuru alanlarının doldurulmasından sonra görüntülenecek ve onaylanacaktır. Usersmagic.com kullanıcı kayıt formunu eksiksiz doldurmuş üyelerin veya Usersmagic.com sistemine giriş yapan kullanıcıların yeni bir şifreye sahip olmalarını veya şifrelerini kullanmalarını münhasıran süresiz olarak engelleyebilecektir.Usersmagic.com, hizmetlerinin zamanında, güvenli ve hatasız olarak sunulması, hizmet kullanımından elde edilen sonuçların doğru ve güvenilir olması, hizmet kalitesinin beklentilere cevap vermesi için gerekli özeni gösterecektir ancak bunları taahhüt etmemektedir.Usersmagic.com kullanıcıların sistemden yararlanmaları sırasında ortamda bulunduracakları dosyaların, mesajların bazılarını veya tamamını uygun göreceği periyotlarla yedekleme ve silme yetkisine sahiptir. Yedekleme ve silme işlemlerinden dolayı Usersmagic.com sorumlu tutulmayacaktır.Usersmagic.com kendi ürettiği ve/veya dışardan satın aldığı bilgi, belge, yazılım, tasarım, grafik vb. eserlerin mülkiyet ve mülkiyetten doğan telif haklarına sahiptir. Usersmagic.com, ileride doğacak teknik zaruretler ve mevzuata uyum amacıyla kullanıcıların aleyhine olmamak kaydıyla işbu Sözleşme’nin uygulamasında değişiklikler yapabilir, mevcut maddelerini değiştirebilir veya yeni maddeler ilave edebilir.Usersmagic.com üye şirketlerin sağladığı içerikten sorumlu değildir.
      span.subtitle 4. Ödeme
      span Usersmagic.com kullanıcıları, site üzerinden gerçekleştirdikleri değerlendirmelerin sonuçları karşılığında kazanacakları ücreti Online ödeme yöntemleri Paypal veya Papara üzerinden kendi hesaplarına alacaklardır. Ödemelerimiz https://www.paypal.com/tr/home ve https://www.papara.com/ hesaplarınıza direkt yapılacağından UsersMagic hiçbir hesap detayınızı kullanmayacaktır. Usersmagic.com online ödeme yöntemi kullanılarak kullanıcıya ödemeyi yapmakla yükümlüdür.
      span.subtitle 5. ‘’Para Kazanın’’ modülünü kullanmak için özel hüküm
      span.subtitle 5.1 ‘’Para Kazanın’’ Modülü Tanımı
      span 1) UsersMagic usersmagic.com web sitesinde ve ilgili uygulama üzerinden bir sipariş ve pazar araştırma platformu işletir.
      span 2) ‘’Para Kazanın’’ modülü kullanıcının sağladığı bilgiler doğrultusunda elde edeceği para miktarını belirtmektedir. (kullanıcı anketleri, ürün değerlendirmesi, websitesi değerlendirmesi vb.)
      span 3) Usersmagic.com, iznini beyan etmiş kullanıcılara söz konusu ürün değerlendirme kampanyaları hakkında bilgi verir.
      span 4) Kullanıcı değerlendirme sonuçlarını bildirir ve sağlayıcı bu değerlendirmenin uygunluğunu kontrol eder.
      span 5) Yukarıda belirtilen sürecin ardından kullanıcı TL olarak kampanyada belirtilen tutarı elde eder.
      span.subtitle 5.2 Kullanıcı Yükümlülükleri
      span 1) Kullanıcı, uygulama değerlendirmelerini öz iradesine dayanarak, bağımsız, adil ve ölçülü yapmakla yükümlüdür.
      span 2) Kullanıcı, kendi açık rızası ile kendisi hakkında ek bilgi paylaşımında bulunabilir.
      span 3)Kullanıcı, kampanya son değerlendirme tarihi haricinde hiçbir mekan ve zaman kısıtlamasına tabi değildir.
      span 4) ‘’Para Kazanın’’ modülü, kullanıcı ve usersmagic.com arasında işçi-işveren ilişkisi oluşturmaz.
      span 5) Kullanıcılar, değerlendirmeleri yaparken tamamen kendi açık rızaları dahilinde hareket etmektedirler.
      span.subtitle 6. Yürürlülük
      span İşbu Sözleşme taraflar arasında kullanıcının, kullanıcı kayıt formunu doldurmasından itibaren süresiz olarak yürürlülüğe girer.
      span.subtitle 7. Kişisel Veri
      span Kişisel verilerin korunması, UsersMagic.com şirket öncelikleri ve temel ilkeleri arasında yer almaktadır. Kişisel Veri Koruma politikasını inceleyiniz.
      span.subtitle 8. Fesih
      span Taraflar işbu Sözleşme’yi diledikleri zaman sona erdirebileceklerdir. Sözleşmenin feshi anında tarafların birbirlerinden olan alacak hakları etkilenmez.
  else
    .all-wrapper-agreement
      span.title Usersmagic Participant Terms of Service
      span
        span Thank you for your interest in using the Usersmagic Platform to deliver your feedback on products, services and other content from organizations all around the world! Your feedback helps these organizations better understand and empathize with their customers and users. These terms shall govern your access to and use of the Usersmagic Platform. As used herein, the
        span.bold "Usersmagic Platform"
        span shall refer to all platforms owned and operated by Usersmagic, Inc. and all subsidiaries thereof. Usersmagic, Inc. and all subsidiaries shall collectively be referred to as
        span.bold "Usersmagic"
        span for purposes of this Agreement.
      span
        span To use the Usersmagic Platform, you must agree to these Usersmagic Participant Terms of Service
        span.bold (“Terms of Service”),
        span which are published at https://usersmagic.com/agreement/user, and which may be updated by us from time to time. You must also agree to and abide by the following policies: Privacy Policy, Participant Code of Conduct, and Content Policy. These policies along with these Terms of Service are referred to together as the
        span.bold "Agreement"
        span If you provide your email address to us, we will notify you if we change any material terms of these Terms of Service, and your continued use of the Platform will be deemed acceptance of the updated Terms of Service.
      span PLEASE READ THIS AGREEMENT CAREFULLY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION. THIS AGREEMENT CONTAINS AN ARBITRATION AGREEMENT IN SECTION 6.4 THAT REQUIRES, WITH LIMITED EXCEPTION, THAT YOU AND USERSMAGIC ARBITRATE CLAIMS ON AN INDIVIDUAL BASIS.
      span By accepting these Terms of Service as indicated below, you represent and warrant that you are 18 years of age or older, and that you have read, understood and agree to the entire Agreement.
      span If you are accepting this Agreement on behalf of a company or other legal entity, you also represent and warrant that you have the authority to bind that entity to the terms of this Agreement and that you agree to this Agreement on the entity’s behalf. In this case, references to “you” shall be both to you individually as well as to the entity.
      span.subtitle 1.0 Overview of the Platform
      span.subtitle 1.1 Platform and Tests
      span
        span Usersmagic has developed a software platform
        span.bold (the “Platform”)
        span that enables Usersmagic or its customers
        span.bold (“Customers”)
        span to define questions and tasks
        span.bold (“Tests”)
        span in order to solicit feedback on any brand, design, content or current or potential offering. A person who uses the Platform in order to participate in one or more Tests is referred to in this Agreement as a 
        span.bold “Participant”.
      span
        span If permitted as part of their purchase, Customers can recruit their own Participants
        span.bold (“Private Participants”)
        span to take a Test on the Platform or can request Usersmagic to source Participants for them.
      span Usersmagic directs invitations for Tests from a Customer to groups of Participants according to the Customer’s test plan. If a Test is directed to you, you will have the opportunity to accept the Test. You are not required to accept a Test directed to you.
      span Each Test completed by a Participant shall be and made available to the Customer on the Platform.
      span.subtitle 1.2 Rewards
      span
        span Upon completing a Test, you may be entitled to receive a payment, a gift card, points or other rewards
        span.bold (“Rewards”).
        span In advance of each Test, you will be informed through the Platform or directly if completion of the Test entitles you to a Reward.
      span You are responsible for determining any tax liabilities incurred as a result of receiving a Reward. If you are a Participant with U.S. tax obligations, you may be required to provide Usersmagic with W-9 information.
      span Occasionally, a Customer may offer to provide a Reward to you for completing a Test it developed. If a Customer makes such an offer, then you shall receive the Reward directly from that Customer, and you acknowledge and agree that Usersmagic has no obligation with respect to such Reward.
      span Any Participant who engages in any of the Restricted Activities set out below shall not be entitled to receive a Reward.
      span.subtitle 1.3 Your Role as a Participant and Relationship with Usersmagic
      span As a Participant, you are a user of our Platform. Our Platform connects you with Customers seeking Participants for Tests. As a Participant, you are operating as a participant in market research. Usersmagic does not employ you.
      span Nothing in this Agreement will be construed to make you an agent, employee, partner or legal representative of or joint venture with Usersmagic. You will not be entitled to any employment-related benefits and you are solely responsible for your taxes.
      span.subtitle 1.4 Third-Party Beneficiary
      span Customers for whom you are conducting Tests are third-party beneficiaries of this Agreement. To the extent that any act or omission by you causes any damage or liability to any such Customer, such Customer shall have the right to enforce any provision of this Agreement.
      span.subtitle 2.0 Information Collected
      span.subtitle 2.1 Participant Information
      span We care about the privacy of Participants. When you use the Platform, register with Usersmagic to become a Participant, fill out questionnaires related to specific Tests, or complete a Test, Usersmagic will receive and collect information about you, which may include, but is not limited to:
      span 1. personally identifiable information such as your name, email address or other identification, contact and account information
      span 2. demographic information such as age, gender, education, employment status and hobbies
      span
        span 3. other information that we may request to facilitate the completion and analysis of Tests (collectively,
        span.bold “Participant Information”)
      span You represent that the Participant Information that you provide to Usersmagic will be accurate and complete.
      span.subtitle 2.4 Privacy
      span
        span For information on how your Participant Information and the Participant Content may be used, please see our
        a.bold(href="/agreement/privacy") Privacy Policy.
      span.subtitle 3.0 Ownership and Proprietary Rights
      span.subtitle 3.1 Assignment of Test Results to Usersmagic
      span
        span In consideration for your use of the Platform and where a Reward is provided, your receipt of such Reward, you hereby assign to Usersmagic all right, title, and interest you have in and to all results of your Tests,  and your Participant Content
        span.bold (“Test Results”),
        span provided that non-assignable moral rights are waived. You agree to take any action reasonably requested by Usersmagic, at Usersmagic’s expense, to evidence, perfect, obtain, maintain, enforce, or defend such assigned rights.
      span You acknowledge and agree that Usersmagic will provide results of Tests created by a Customer to the Customer for their business use.
      span You acknowledge and agree that Recordings of Tests developed by Usersmagic may be publicly displayed or distributed by Usersmagic. These Tests will be clearly identified on the Platform. You will be given a chance to opt out of including a Recording of a Test you completed in such public display or distribution.
      span
        span You may submit comments or ideas about the Platform or Tests, including without limitation about how to improve the Platform, Tests, or our other products or services
        span (“Ideas”).
        span By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Usersmagic under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, Usersmagic does not waive any rights to use similar or related ideas previously known to Usersmagic, or developed by its employees, or obtained from sources other than you.
      span.subtitle 3.2 Use of and Limited License to the Platform
      span You acknowledge and agree that all content, designs, features, functions, elements and aspects of the Platform are the exclusive property of Usersmagic, or its licensors, and may be protected by applicable intellectual property and other laws.
      span Subject to the provisions of this Agreement, Usersmagic grants to you a personal, non-sublicensable, nonexclusive, non-transferable, freely revocable, limited license to use the Platform as permitted by the features of the Platform solely to conduct Tests on behalf of Usersmagic and Customers, and in accordance with any documentation or instructions supplied by Usersmagic or such Customers. Usersmagic may terminate this license at any time for any reason or no reason.
      span Except as expressly provided in this Agreement, nothing provided in connection with Tests shall be construed as conferring upon you any license under any of Usersmagic’s, Customers’, or any other party’s Intellectual Property Rights, whether by estoppel, implication, waiver, or otherwise. Usersmagic reserves all rights not expressly granted herein in the Platform and any related content.
      span
        span For the purposes of this Agreement,
        span.bold “Intellectual Property Rights”
        span means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.
      span.subtitle 4.0 Your Obligations
      span.subtitle 4.1 Confidential Information
      span When you access the Platform, you will be shown or exposed to both Customer Confidential Information and Usersmagic Confidential Information
      span  
        span.bold “Customer Confidential Information”
        span means the Tests developed by a Customer, non-public information about a Customer’s brand, design, content or current or potential offering, and the fact that the Customer has requested that a Test be completed on the Platform.
      span
        span.bold “Usersmagic Confidential Information”
        span means all non-public content, designs, features, functions, elements and aspects of the Platform, and the Test Results.
      span
        span Customer Confidential Information and Usersmagic Confidential Information are referred to in these Terms of Service collectively as
        span.bold ”Confidential Information”.
      span.subtitle 4.2 Your Obligations of Confidentiality
      span You agree not to disclose Confidential Information to anyone other than Usersmagic or the Customer who developed the Test giving rise to the Confidential Information.
      span You agree not to use Confidential Information for any purpose other than completing the Tests you have accepted and assigning the Test Results to Usersmagic.
      span Notwithstanding the foregoing, you may disclose Confidential Information to the extent required by a court of competent jurisdiction or other applicable governmental authority or as required by applicable law.
      span You agree and acknowledge that your breach or threatened breach of this provision may result in irreparable harm to Usersmagic or a Customer, for which money damages would be an insufficient remedy, and therefore that Usersmagic or such Customer will be entitled to seek injunctive relief to enforce the provisions of this section.
      span As a third-party beneficiary to this Agreement, a Customer may enforce these confidentiality obligations against you directly. In some cases, a Customer may also require that you sign a separate non-disclosure agreement directly with them.
      span.subtitle 4.3 Security and Passwords
      span You understand that Usersmagic takes steps to ensure that your Participant Information is treated securely, but no Internet transmission or method of electronic storage is 100% secure or error free. You acknowledge and agree that Usersmagic cannot guarantee the security of any information provided by you and that you provide information at your own risk. You are responsible for maintaining the confidentiality of any usernames and passwords associated with your account and for monitoring all activity under your account. You are responsible for all activities, acts, or omissions that occur under your account, and you agree to assume full responsibility for any such activities, acts, or omissions. If you become aware of any unauthorized use of your password or your account, you should notify Usersmagic immediately at the email address provided at the end of this Agreement.
      span.subtitle 4.4 Restricted Activity
      span
        span You are not permitted to do any of the following (each a
        span.bold “Restricted Activity”
        span ):
      span 1. disclose or share your Usersmagic account login information with any third party;
      span 2. create more than one account on the Platform;
      span 3. knowingly provide inaccurate information through the Platform;
      span 4. use the Platform for the benefit of anyone other than Usersmagic or the Customer for which you are completing a Test;
      span 5. sell, resell, license, sublicense, distribute, make available, rent or lease the Platform in a service bureau or outsourcing offering;
      span 6. use the Platform in violation of applicable law or regulation, or the Content Policy;
      span 7. interfere with or disrupt the integrity or performance of the Platform or any data or information contained therein;
      span 8. attempt to gain unauthorized access to the Platform or its related systems or networks;
      span 9. copy the Platform or any part, feature, function or user interface thereof;
      span 10. frame or mirror any part of the Platform;
      span 11. access or use the Platform in order to build a competitive product or service or to benchmark with another product or service;
      span 12. engage in fraudulent, obscene, harassing or illegal conduct on the Platform; or
      span 13. copy or take screenshots/videos of any Test, or any part of the Platform.
      span You may forfeit your right to receive a Reward by engaging in any of the above Restricted Activities. In addition, Usersmagic may suspend or terminate your access and license to the Platform if it determines that you have engaged in any Restricted Activity.
      span You understand and agree that Usersmagic may monitor all use of the Platform for security, operational, improvement and performance purposes.
      span.subtitle 5.0 Other Terms and Conditions
      span.subtitle 5.1 Termination
      span Usersmagic reserves the right to terminate your access and license to the Platform at any time and for any reason.
      span.subtitle 5.2 California Residents
      span The provider of services is set forth herein. If you are a California resident, in accordance with Cal. Civ. Code §1789.3, you may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by contacting them in writing at 1625 North Market Blvd., Suite N 112 Sacramento, CA 95834, or by telephone at (800) 952-5210 or (916) 445-1254.
      span.subtitle 5.3 Non-U.S. Participants
      span Usersmagic does not make any representation that any Confidential Information related to Tests or other Usersmagic Intellectual Property Rights are appropriate or available for use in your specific geographic location, and you accessing the Platform from territories where such activity is illegal is prohibited. If you enroll as a Participant from locations outside of the United States, you are responsible for compliance with applicable local laws. In any event, Usersmagic will comply with the terms of its Privacy Policy in relation to your role as a Participant.
      span.subtitle 5.4 Assignment of Certain Rights and General Release
      span
        span In consideration for your use of the Platform and where a Reward is provided, your receipt of such Reward, in addition to other good and valid consideration, the receipt and sufficiency of which you hereby acknowledge, you grant to Usersmagic, its legal representatives, assigns, agents, employees, and all third party beneficiaries to this Agreement (specifically including, but not limited to, the Customers for whom you perform Tests), and each of their respective heirs, successors and assigns (collectively, the
        span.bold “Released Parties”).
        span the unrestricted permission to copy, exhibit, distribute, publicly perform and display, broadcast, publish, and otherwise use and exploit pictures, videos or digital audio recordings of you obtained in connection with Tests and all digital information pertaining to such, in still, single, multiple, moving or video format, or in which you may be included in whole or in part, or composite, or distorted in form, or in reproductions thereof, in color or otherwise, in any and all media, whether now existing or hereafter invented for advertising, marketing, promotion or any other lawful purpose. The foregoing shall include, but not be limited to, completed Tests and Test Results.
      span You waive any rights, claims or interest you may have to control the use of your persona, image, likeness and sound obtained in connection with Tests in whatever media used for the above-referenced purposes and irrevocably release, discharge and hold harmless the Released Parties from any and all claims, demands, suits, causes of action, damages, costs, losses, expenses and proceedings of any kind whatsoever, whether existing now or arising in the future, anywhere in the universe, that relate in any way whatsoever to the activities contemplated in this Section and/or the Released Parties’ exercise of the rights granted herein.
      span Without limiting the foregoing, to the extent applicable to the subject matter of this Agreement, you waive California Civil Code §1542, which says: “A general release does not extend to claims that the creditor or releasing party does not know or suspect to exist in his or her favor at the time of executing the release and that, if known by him or her, would have materially affected his or her settlement with the debtor or released party.”
      span.subtitle 5.5 No Endorsement
      span NO ENDORSEMENT OF OR PARTICIPATION BY ANY THIRD PARTY SHOULD BE INFERRED DUE TO ANY REFERENCE TO THAT THIRD PARTY OR INCLUSION OF DATA RELATING TO THAT THIRD PARTY IN CONNECTION WITH A TEST.
      span.subtitle 5.6 WARRANTY DISCLAIMER
      span The Platform and Tests are provided “AS IS” and may not be functional on any machine or in any environment. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE RELEASED PARTIES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND ANY IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE FOR THE PLATFORM, TESTS, ELEMENTS AND ANY OTHER INTERACTION THAT YOU MAY HAVE WITH THE RELEASED PARTIES. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE PLATFORM OR TESTS IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF ANY SUCH MATERIAL.
      span.subtitle 5.7 LIMITATION OF LIABILITY
      span TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE RELEASED PARTIES BE LIABLE TO YOU OR ANY THIRD PARTY WITH RESPECT TO ANY MATTER ARISING OUT OF OR RELATED TO THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY, TORT, BREACH OF WARRANTY, OR OTHER THEORY (A) FOR LOSS OR INACCURACY OR CORRUPTION OF DATA, OR (B) COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES, OR TECHNOLOGY, OR (C) FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOST REVENUES, LOST PROFITS, GOODWILL, USE, DATA, OR OTHER INTENGIBLE LOSSES (EVEN IF THE RELEASED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE RELEASED PARTIES’ AGGREGATE LIABILITY TO YOU UNDER THIS AGREEMENT EXCEED THE GREATER OF U.S. $100 OR THE AMOUNT PAID OR PAYABLE TO YOU FOR YOUR COMPLETION OF THE TEST AND DELIVERY OF THE TEST RESULTS.
      span YOU FURTHER AGREE THAT THE LIMITATIONS OF LIABILITY ABOVE WILL SURVIVE ANY TERMINATION OR EXPIRATION OF THIS AGREEMENT AND WILL APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
      span.subtitle 5.8 Indemnification
      span You agree to defend, indemnify, and hold harmless the Released Parties and their employees, suppliers and licensors, clients, and their respective officers, directors, employees, agents, subsidiaries and affiliates, from and against any third-party claim, demand, liability, loss, damage, cost or expense (including without limitation reasonable legal and accounting fees) arising out of or related to your failure to comply with this Agreement, or your violation of any applicable laws or regulations. The Released Parties shall promptly provide notice to you of any such claim, demand, liability, loss, damage, cost or expense.
      span.subtitle 5.9 Third-Party Links and Information
      span The Platform may contain links to third-party materials that are not owned or controlled by Usersmagic. Usersmagic does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access a third-party website or service from the Platform or share any content you develop on or through any third-party website or service, you do so at your own risk, and you understand that this Agreement, including Usersmagic’s Privacy Policy, does not apply to your use of such sites. You expressly relieve Usersmagic from any and all liability arising from your use of any third-party website, service, or content. Additionally, your dealings with or participation in promotions of advertisers found on the Platform, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Usersmagic shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.
      span.subtitle GENERAL TERMS
      span.subtitle 6.1 Entire Agreement
      span This Agreement constitutes the entire agreement between you and Usersmagic relating to the subject matter of this Agreement, and shall completely replace any prior agreements, oral or written, between you and Usersmagic in relation to you acting as a Participant.
      span.subtitle 6.2 Changes to this Agreement
      span Usersmagic reserves the right to discontinue the Platform or any Test at any time or otherwise make changes to the Platform and Services at any time, without notice, and without liability to you.
      span.subtitle 6.3 Waiver, Severability, Nonassignability
      span Usersmagic’s failure to exercise or enforce any legal right or remedy or provision of this Agreement (or which Usersmagic has the benefit of under any applicable law) will not constitute a waiver of such right, remedy, or provision. In the event that any of the provisions of this Agreement is found by a court, arbitrator or other tribunal of competent jurisdiction to be invalid or unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary so that the other provisions of this Agreement remain in full force and effect. You may not assign or delegate any rights or obligations under this Agreement, and any such attempted assignment or delegation shall be void and without effect. Usersmagic may freely assign or delegate all rights and obligations under this Agreement, in whole or in part.
      span.subtitle 6.4 Dispute Resolution; Mutual Arbitration Agreement with Class Action Waiver
      span
        span As an initial matter, if you have a dispute with Usersmagic, please contact
        span.bold hello@usersmagic.com
        span so that we may attempt to resolve the issue.
      span This section contains an arbitration agreement, which, with limited exception, requires you and Usersmagic to submit disputes and claims to binding and final arbitration on an individual basis. Please read it carefully as it affects your legal rights.
      span You and Usersmagic mutually agree to waive your respective rights to resolution of all disputes or claims covered by this arbitration agreement in a court of law and instead agree to resolve any disputes and claims by binding arbitration on an individual basis.
      span To the fullest extent permitted by applicable law, you and Usersmagic agree to arbitrate any and all disputes, demands, claims, or controversies (collectively, “claim” or “claims”) relating to, arising from or regarding this Agreement, your participation on the Platform, Tests or your relationship with Usersmagic, including claims by Usersmagic, claims against Usersmagic, and claims against any current or former parent, affiliate, subsidiary, successor or predecessor of Usersmagic, and each of Usersmagic’s and these entities’ respective officers, directors, owners, agents or employees. To the fullest extent permitted by applicable law, this includes, but is not limited to, claims of discrimination, harassment, retaliation, breach of contract, wrongful termination and unfair competition, worker misclassification claims, compensation claims, wage and hour claims, tort claims, common law claims, and claims based upon any federal, state or local ordinance, statute, regulation or constitutional provision. Customers are third-party beneficiaries to this arbitration agreement.
      span You and Usersmagic agree that nothing in this arbitration agreement is intended to prevent either party from seeking and obtaining temporary or preliminary injunctive relief in court to prevent irreparable harm to their confidential information or trade secrets pending the conclusion of any arbitration.
      span This arbitration agreement does not apply to claims that have been expressly excluded from arbitration by a governing law not preempted by the Federal Arbitration Act. This arbitration agreement does not restrict or preclude you from communicating with, filing an administrative charge or claim with, or providing testimony to any governmental entity about any actual or potential violation of law or obtaining relief through a government agency process.
      span To the fullest extent permitted by applicable law, you and Usersmagic agree that claims shall be resolved on an individual basis only, and not on a class, collective, or representative basis on behalf of other individuals to the fullest extent permitted by applicable law (“Class Waiver”). Any claim that all or part of the Class Waiver is invalid, unenforceable, unconscionable, void or voidable may be determined only by a court. In no case may class, collective or representative claims proceed in arbitration on behalf of other individuals.
      span The parties understand and agree that the arbitration shall be conducted by a single neutral arbitrator through JAMS in accordance with the Streamlined Arbitration Rules & Procedures, or other applicable JAMS rules as agreed by the parties or directed by the arbitrator, which can be reviewed at http://www.jamsadr.com. To initiate an arbitration, you or Usersmagic must submit a demand for arbitration to JAMS. Except as to the Class Waiver, the arbitrator shall determine arbitrability, including disputes about the formation, scope, applicability, enforceability or validity of the arbitration agreement. The arbitrator shall apply the applicable substantive law in deciding the claims at issue. Claims will be governed by their applicable statute of limitations and failure to demand arbitration within the prescribed time period shall bar the claims as provided by law. You and Usersmagic understand and agree that the decision or award of the arbitrator shall be final and binding upon the parties.
      span(style="margin-left: 0px") You and Usersmagic understand and agree that to the extent applicable, the arbitration of claims subject to this arbitration agreement shall be instead of a trial before a court or jury. The parties further understand and agree that they are expressly waiving any and all rights to a trial before a court or jury regarding any claims that they now have or which they may have in the future that are subject to arbitration under this arbitration agreement.
      span This arbitration agreement is enforceable under and governed by the Federal Arbitration Act. In the event that any portion of this arbitration agreement is held to be invalid or unenforceable, any such provision shall be severed, and the remainder of this arbitration agreement will be given full force and effect. This arbitration agreement shall survive the termination of the parties’ relationship.
      span You may choose to opt out of this arbitration agreement. To do so, you must send a letter to Office of the General Counsel, Usersmagic stating your intent to opt out of arbitration within 20 days of your acknowledgment of these Terms of Service.
      span.subtitle 6.5 Communications
      span You agree that Usersmagic may communicate with you electronically or telephonically regarding this Agreement, Tests, security, privacy, and administrative issues. If Usersmagic learns of a security system’s breach, it may attempt to notify you electronically by posting a notice on the Site, sending an email to you, or contacting you via any other means of communication for which you have provided contact information. You may have a legal right to receive a notice of breach in writing. To receive free written notice of a security breach or to withdraw your consent from receiving electronic notice, please contact us via the contact information provided at the end of this Agreement.
      span.subtitle Questions and Comments
      span Questions, comments and requests in relation to this Agreement should be sent to hello@usersmagic.com
