extends ../../partials/head
block content
  .all-wrapper
    .email-wrapper
      .email-page-one-wrapper
        span.email-title Please write your email
        input.general-input-with-border#email-input(type="email" placeholder="E-mail" autofocus autocomplete="none")
      .email-page-two-wrapper
